{% extends 'common/base.html' %}
{% load static %}
{% block title %}Welcome to Real Estate Manager{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        {% if user.is_authenticated %}
            <!-- Content for logged-in users -->
            <h1 class="display-4">Welcome back, {{ user.username }}!</h1>
            <p class="lead">You can manage your properties, view your investments, and more.</p>

            <div class="row">
                <!-- Image Section: Left side -->
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="{% static 'chart-default.jpg' %}" class="card-img-top img-fluid"
                         alt="No Image Available" style="max-width: 80%; height: auto;">
                </div>

                <!-- Options Section: Right side -->
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <!-- New Dashboard Button -->
                    <div class="mt-4">
                        <a href="{% url 'private_landing' %}" class="btn btn-primary mb-2">Go to Dashboard</a>
                    </div>
                    <!-- Existing Buttons -->
                    <div class="mt-4">
                        <a href="{% url 'create_property' %}" class="btn btn-outline-primary mb-2">Add Property</a>
                        <a href="{% url 'create_tenant' %}" class="btn btn-outline-primary mb-2">Add Tenant</a>
                        <a href="{% url 'finance:create_income' %}" class="btn btn-outline-primary mb-2">Add Income</a>
                        <a href="{% url 'finance:create_expense' %}" class="btn btn-outline-primary mb-2">Add Expense</a>
                    </div>
                </div>
            </div>

            <hr class="my-4">
        {% else %}
            <!-- Content for non-logged-in users -->
            <h1 class="display-4">Welcome to Real Estate Manager</h1>
            <p class="lead">Your one-stop solution for managing and investing in real estate.</p>

            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
                <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Sign Up</a>
            </div>

            <hr class="my-4">

            <h3>Features</h3>
            <p>Manage your properties with ease.</p>
            <p>Find the best deals and opportunities.</p>
            <p>Track your investments and returns.</p>
        {% endif %}
    </div>
{% endblock %}
