{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Login</h2>
            <form method="post" class="p-4 shadow-sm rounded bg-light">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username:</label>
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password:</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}" class="text-primary">Register here</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
